* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {  
  height: 100vh;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  letter-spacing: 0.01071em;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

.header {
  padding: 15px 35px;
  font-size: 1.25rem;
  line-height: 1.5;
  color: hsla(0,0%,100%,.7);
  background-color: #24292e;
  position: relative;
}
.header a{
  color: hsla(0,0%,100%,.7);
}
.header a:hover{
  color: hsla(0, 100%, 99%, 0.9);
}
.header .header-logo{
  position: relative;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  padding-top: 35px;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 35px;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 19px;
  font-weight: 200
}
.card a{
  right: 10px;
  position: absolute;
  color: #d6d6d6;
  text-decoration: underline;
}
.card a:hover{
  color:#a6b2d6
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
 /*  transform: rotateY(180deg); */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333333ad;
  color: white;
  padding: 6px;
  height: initial;
  bottom: 0;
  display: flex;
  /* transform: rotateY(180deg) */;
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

.not-cards{
  grid-template-columns: repeat(1, 1fr) !important;
}
.not-cards h2{
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}
@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


.profile-user{
  display: block;
  width: 100%;
  padding: 35px;
}
.profile-user .aside{
  width: 27%;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  background: #ffffff;
  border-radius: 4px;
  padding: 15px;
  margin: 0 29px;
  box-sizing: border-box;
  margin-left: 0;
}
.aside__avatar{
  width: 278px;
  height: 278px;
  margin: 0 auto;
}
.aside__avatar img{
  width: 100%;
  border-radius: 50%;
}
.aside__info{
  width: 248px;
  margin: 0 auto;
}
.aside__info h2{
  color:#24292e;
  font-size: 26px;
  line-height: 1.25;
}
.aside__info h3{
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}
.aside__info p{
  font-size: 0.875rem;
  margin: 16px 0;
  font-family: unset;
  color: #545353;
}
.aside__info ul li{
  font-size: 14px;
  padding: 4px 0;
  list-style: none;
}
.aside__info .link-profile{
    color: #24292e;
    background-color: #fafbfc;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 5px 16px;
    line-height: 20px;
    white-space: nowrap;
    -webkit-user-select: none;
    border: 1px solid;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 16px 0;
    font-size: 0.8125rem;
    text-transform: uppercase;
}
.content ul{
  display: flex;
  flex-wrap: wrap;
}
.content ul li{
  align-content: stretch;
  display: flex;
  width: 50%;
  padding: 8px;
}
.content ul li .git-list{
  background-color: #fff;
  /* border: 1px solid #e1e4e8; */
  border-radius: 6px;
  width: 100%;
  padding: 15px;
  position: relative;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.content ul li h1{
  
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}
.content ul li h1 a{
  color: #0366d6;
}
.content ul li p{
  font-size: 13px;
  color: #767879;
  margin: 15px 0;
}
.content ul li .icon div{
  margin-right: 5px
}
.content ul li .icon div,
.content ul li .icon{
  display: flex;
}
.content ul li span{
  color: #586069;
  font-size: 12px;
  display: block;
}
.profile-user .content{
  width: 69%;
  display: inline-block;
}